snippet lic "Licence"
/* Copyright (C) Aishwarya Singh - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by Aishwarya Singh <aishwarya_singh95@hotmail.com>
 */

$0
endsnippet
	
snippet head "Header meta data"
/* Description: $1
 * Created On: ${2:`date +%Y-%m-%d`} 
 */

$0
endsnippet
