snippet #inc "Include tag"
#include "$0"
endsnippet

snippet #ifndef "Include guards"
#ifndef $1_H
#define $1_H

$0

#endif /* $1_H */
endsnippet

snippet #main "int main"
int main (int argc, char *argv[]) {
	$0
	return 0;
}

endsnippet
